## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff_value = 500
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [29]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

c:\Users\markp\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │         2,816 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,929 (19.25 KB)

 Trainable params: 4,929 (19.25 KB)

 Non-trainable params: 0 (0.00 B)

In [32]:
# Compile the model
nn.compile(
    optimizer='adam',        
    loss='binary_crossentropy',  
    metrics=['accuracy']         
)

In [33]:
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [34]:
import numpy as np

# Ensure all boolean values are converted to integers (0 or 1)
X_train = X_train.astype(np.float32)
X_test = X_test.astype(np.float32)
y_train = y_train.astype(np.float32)
y_test = y_test.astype(np.float32)

In [35]:
# Train the model
history = nn.fit(
    X_train,                  
    y_train,                   
    epochs=20,                  
    batch_size=32,         
    validation_data=(X_test, y_test) 
)

Epoch 1/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 688us/step - accuracy: 0.4883 - loss: 66404.3750 - val_accuracy: 0.4659 - val_loss: 121752.9922
Epoch 2/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - accuracy: 0.4810 - loss: 58785.8281 - val_accuracy: 0.5904 - val_loss: 1438.0658
Epoch 3/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 602us/step - accuracy: 0.5146 - loss: 12919.4531 - val_accuracy: 0.5341 - val_loss: 18685.3379
Epoch 4/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.4999 - loss: 14988.5508 - val_accuracy: 0.5341 - val_loss: 2176.6997
Epoch 5/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - accuracy: 0.4990 - loss: 9863.8994 - val_accuracy: 0.4659 - val_loss: 11264.5332
Epoch 6/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.5073 - loss: 12172.1650 - val_accuracy: 0.4659 - val_loss: 20210.8008
Epoch 7/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - accuracy: 0.5072 - loss: 5076.2051 - val_accuracy: 0.4965 - val_loss: 4400.3940
Epoch 8/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.5419 - loss: 4907.5044 - val_accuracy: 0.5341 - val_loss: 3065.8381
Epoch 9/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - accuracy: 0.4954 - loss: 50422.3164 - val_accuracy: 0.4659 - val_loss: 30455.8945
Epoch 10/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - accuracy: 0.4946 - loss: 4246.7358 - val_accuracy: 0.4659 - val_loss: 104908.7734
Epoch 11/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.4758 - loss: 37837.4648 - val_accuracy: 0.5341 - val_loss: 4722.7041
Epoch 12/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - accuracy: 0.5204 - loss: 8600.0605 - val_accuracy: 0.4659 - val_loss: 63468.7344
Epoch 13/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 579us/step - accuracy: 0.4864 - loss: 9656.1055 - val_accuracy: 0.5341 - val_loss: 3938.3760
Epoch 14/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 652us/step - accuracy: 0.5374 - loss: 16587.8418 - val_accuracy: 0.6173 - val_loss: 2337.7258
Epoch 15/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 595us/step - accuracy: 0.4940 - loss: 32038.0117 - val_accuracy: 0.4764 - val_loss: 3315.1560
Epoch 16/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 609us/step - accuracy: 0.5367 - loss: 1282.4352 - val_accuracy: 0.4659 - val_loss: 6759.3984
Epoch 17/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 618us/step - accuracy: 0.4961 - loss: 4211.6855 - val_accuracy: 0.5341 - val_loss: 449.9461
Epoch 18/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 613us/step - accuracy: 0.5430 - loss: 13871.8184 - val_accuracy: 0.5341 - val_loss: 1446.6442
Epoch 19/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 584us/step - accuracy: 0.5495 - loss: 735.1690 - val_accuracy: 0.4659 - val_loss: 5013.5996
Epoch 20/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 612us/step - accuracy: 0.5042 - loss: 2266.3032 - val_accuracy: 0.5181 - val_loss: 139.4355

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 400us/step - accuracy: 0.5341 - loss: 1.4425
Loss: 1.4425162076950073, Accuracy: 0.5341107845306396

In [39]:
# Export our model to HDF5 file
nn.save('trained_model.h5')

print("Model saved to file named trained_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to file named trained_model.h5