## Preprocessing

In [122]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [123]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [124]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [125]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [126]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff_value = 1000
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [127]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [128]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [129]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 500
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Create a filter to allow for a new bin
filtered_df = application_df[application_df['CLASSIFICATION'] != 'Other']

# Determine the new cutoff and classify remaining rare categories
cutoff_value = 2000
classification_counts = filtered_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other2")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000     17326
C2000      6074
C1200      4837
Other2     4578
Other      1484
Name: count, dtype: int64

In [130]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)

In [131]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [132]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [133]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

c:\Users\markp\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_24 (Dense)                │ (None, 64)             │         2,560 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_25 (Dense)                │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_26 (Dense)                │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 6,785 (26.50 KB)

 Trainable params: 6,785 (26.50 KB)

 Non-trainable params: 0 (0.00 B)

In [134]:
# Compile the model
nn.compile(
    optimizer='adam',        
    loss='binary_crossentropy',  
    metrics=['accuracy']         
)

In [135]:
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [136]:
# Train the model
history = nn.fit(
    X_train,                  
    y_train,                   
    epochs=20,                  
    batch_size=32,         
    validation_data=(X_test, y_test) 
)

Epoch 1/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.4898 - loss: 23715.8652 - val_accuracy: 0.4659 - val_loss: 8640.3398
Epoch 2/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 608us/step - accuracy: 0.4936 - loss: 15000.0293 - val_accuracy: 0.5341 - val_loss: 33041.9414
Epoch 3/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 574us/step - accuracy: 0.4977 - loss: 27100.1699 - val_accuracy: 0.4659 - val_loss: 2837.1064
Epoch 4/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 594us/step - accuracy: 0.4989 - loss: 3480.6147 - val_accuracy: 0.4659 - val_loss: 2160.3936
Epoch 5/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 584us/step - accuracy: 0.5002 - loss: 1279.8960 - val_accuracy: 0.5341 - val_loss: 10415.2373
Epoch 6/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 568us/step - accuracy: 0.5014 - loss: 14722.9727 - val_accuracy: 0.5105 - val_loss: 342.5576
Epoch 7/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 586us/step - accuracy: 0.5087 - loss: 916.6212 - val_accuracy: 0.4659 - val_loss: 2127.3081
Epoch 8/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 577us/step - accuracy: 0.5122 - loss: 545.7844 - val_accuracy: 0.4659 - val_loss: 1714.8756
Epoch 9/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 602us/step - accuracy: 0.5103 - loss: 285.5474 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 10/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 589us/step - accuracy: 0.5321 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 11/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 595us/step - accuracy: 0.5352 - loss: 0.6908 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 12/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 572us/step - accuracy: 0.5290 - loss: 0.6915 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 13/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 581us/step - accuracy: 0.5407 - loss: 0.6900 - val_accuracy: 0.5341 - val_loss: 0.6917
Epoch 14/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 583us/step - accuracy: 0.5363 - loss: 0.6910 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 15/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 570us/step - accuracy: 0.5309 - loss: 0.6914 - val_accuracy: 0.5341 - val_loss: 0.6914
Epoch 16/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.5311 - loss: 0.6914 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 17/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.5337 - loss: 0.6910 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 18/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 577us/step - accuracy: 0.5314 - loss: 0.6913 - val_accuracy: 0.5341 - val_loss: 0.6911
Epoch 19/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.5352 - loss: 0.6909 - val_accuracy: 0.5341 - val_loss: 0.6917
Epoch 20/20
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 586us/step - accuracy: 0.5340 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6909

In [137]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 407us/step - accuracy: 0.5799 - loss: 0.7864
Loss: 0.7863883376121521, Accuracy: 0.5798833966255188

In [138]:
# Export our model to HDF5 file
nn.save('trained_model.h5')

print("Model saved to file named trained_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to file named trained_model.h5

In [139]:
# Run again with keras tuner

import keras_tuner as kt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

def build_model(hp):
    model = Sequential()
    model.add(Dense(
        units=hp.Int('units_1', min_value=32, max_value=128, step=32),
        activation='relu',
        input_dim=X_train_scaled.shape[1]
    ))
    model.add(Dense(
        units=hp.Int('units_2', min_value=16, max_value=64, step=16),
        activation='relu'
    ))
    model.add(Dense(1, activation='sigmoid'))

    model.compile(
        optimizer=hp.Choice('optimizer', values=['adam', 'sgd']),
        loss='binary_crossentropy',
        metrics=['accuracy']
    )
    return model

In [140]:
# Initialize the tuner
tuner = kt.Hyperband(
    build_model,
    objective='val_accuracy',
    max_epochs=20,
    hyperband_iterations=2,
    directory='my_dir',
    project_name='intro_to_kt',
    overwrite = True
)

c:\Users\markp\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [141]:
# Run the tuner
tuner.search(
    X_train_scaled, y_train,
    epochs=20,
    batch_size=32,
    validation_data=(X_test_scaled, y_test)
)

Trial 14 Complete [00h 00m 03s]
val_accuracy: 0.7274052500724792

Best val_accuracy So Far: 0.7275510430335999
Total elapsed time: 00h 00m 36s

Search: Running Trial #15

Value             |Best Value So Far |Hyperparameter
64                |96                |units_1
48                |32                |units_2
adam              |adam              |optimizer
7                 |7                 |tuner/epochs
3                 |3                 |tuner/initial_epoch
2                 |2                 |tuner/bracket
1                 |1                 |tuner/round
0002              |0006              |tuner/trial_id

Epoch 4/7
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 802us/step - accuracy: 0.7259 - loss: 0.5602 - val_accuracy: 0.7249 - val_loss: 0.5639
Epoch 5/7
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.7285 - loss: 0.5552 - val_accuracy: 0.7271 - val_loss: 0.5646
Epoch 6/7
237/858 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - accuracy: 0.7292 - loss: 0.5555